@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.home-section.stars {
    height: 100vh;
    position: relative;
    background: rgb(1, 1, 83);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;

}


.home-section.stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("/src/assets/img/particals.jpeg") repeat;
  background-size: cover;
  opacity: 0.7;
  animation: moveStars 400s linear infinite;
  z-index: 0;
}


@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 0; 
  }
}


.home-section .left,
.home-section .right {
    position: relative;
    z-index: 1;
}

.left {
    color: white;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.left>h1 {
    line-height: 100%;
    margin: 0;
    text-transform: uppercase;
}

.left>h1:first-child {
    text-shadow: 0px 0px 15px black;
    font-size: 5.5rem;
}

.left>h1:nth-child(2) {
    text-shadow: 0px 0px 15px black;
    font-size: 5rem;
}

.left>h1:nth-child(2)>span {
    letter-spacing: 5px;
    position: relative;
    color: #14e6b5;

}

.left>h1:nth-child(2)>span::before {
    content: "devang";
    position: absolute;
    left: 4px;
    top: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #14e6b5;
    z-index: -1;
}

.left>p {
    text-shadow: 0px 0px 15px black;
    letter-spacing: 5px;
    line-height: 100%;
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 400;
}

.right {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .home-section.stars {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        height: auto;
    }

    .home-section.stars::before{
        height: 100%;
    }

    .left {
        margin-top: 100px;
        gap: 0;
        align-items: center;
        text-align: center;
    }

    .left>h1:first-child {
        font-size: 3rem;
    }

    .left>h1:nth-child(2) {
        padding-top: 7px;
        font-size: 3rem;
    }

    .left>h1:nth-child(2)>span::before {
        left: 4px;
        top: 6px;
    }

    .left>p {
        letter-spacing: 2px;
        font-size: 1rem;
    }

    .right {
        margin-top: 50px;
        margin-bottom: 100px;
        width: clamp(220px, 70%, 310px);
        height: clamp(220px, 70vw, 310px);
    }

}