*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.skills-section{
    background: rgb(1, 1, 22);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-section>h1{
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: capitalize;
    padding-top: 50px;
    color: #14e6b5;
}

.cardContainer{
    /* border: 1px solid yellow; */
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    border-radius: 30px;
    background: rgba(39, 39, 59, 0.219);
    border: 1px solid rgba(255, 255, 255, 0.295);
    width: 200px;
    height: 200px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;   
}

.card:hover{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 20px 0px #14e6b5;
}

.card>img{
    height: 40%;
    width: 40%;
    object-fit: contain;
}

.card>h3{
    font-size: 25px;
}

@media screen and (max-width: 768px){
    .cardContainer{
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .card{
        width: 150px;
        height: 150px;
        gap: 5px;
    }

    .card>h3{
        font-size: 20px;
    }
}

